body {
    background-image: url("../images/background.jpg");
    height: 100%;
    width: 100%;
    text-align: center;
}

h1 {
    font-family: 'Arima Madurai', cursive;
    font-size: 230%;
    font-weight: bold;
}

h3 {
    font-family: 'Arima Madurai', cursive;
    font-size: 145%;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 125%;
    color: aliceblue;
}

.textbox {
    background-color: rgb(255, 255, 193, .45);
    color: #FFD539;
    margin: 5%;
    padding: 2%;
    border-radius: 50px 50px 50px 50px;
}

#blue {
    height: 16.5%;
    width: auto;
    position: absolute;
    left: 20%;
    bottom: 20%;
}

#pink {
    height: 16%;
    width: auto;
    position: absolute;
    bottom: 17%;
    right: 30%;
}

#green {
    height: 16%;
    width: auto;
    position: absolute;
    bottom: 9%;
    right: 15%;
}

#yellow {
    height: 14%;
    width: auto;
    position: absolute;
    left: 39%;
    bottom: 10%;
}